In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A#':[1,2], 'B#':[3,4], 'C#':[5,6]})
df

   A#  B#  C#
0   1   3   5
1   2   4   6

In [9]:
# rename with DataFrame.rename()
df.rename(index= str, columns={"A#": "a", "B#": "b"})

   a  b  C#
0  1  3   5
1  2  4   6

In [10]:
# print df again, did'nt change
df

   A#  B#  C#
0   1   3   5
1   2   4   6

In [11]:
# If you want to change the name permanently, assign inplace = True
df.rename(index= str, columns={"A#": "a", "B#": "b"}, inplace = True)
df

   a  b  C#
0  1  3   5
1  2  4   6

In [17]:
# If you have sevral names to change, use Lambda

df.rename(index= str, columns=lambda x:x.replace('#',''))

   A  B  C
0  1  3  5
1  2  4  6