### Locate the file
There are two ways to locate the csv file, "absolute path" or "relative path"
e.g.
Absolute path:
"`/work/project/data/great.csv`"(Mac) or "`C:\work\project\data\great.csv`"(Windows)
Relative path:
"`data/greate.csv`"(Mac) or "`data\great.csv`"(Windows)

### Read with pandas.read_csv()
The result is a dataframe Object

In [5]:
import pandas as pd
import numpy as np 

df = pd.read_csv('data/great.csv')
df

  company     locate   employees   avenue
0  orange   New York       10000   4000.0
1  banana     London        2000   1000.0
2   pinch      Paris        4000   5000.0
3    pear     Berlin        3000      NaN

### If the data has no header

In [6]:
df = pd.read_csv('data/great.csv', header= None)
df

         0          1           2        3
0  company     locate   employees   avenue
1   orange   New York       10000     4000
2   banana     London        2000     1000
3    pinch      Paris        4000     5000
4     pear     Berlin        3000      NaN

###  Filter rows

In [8]:
df = pd.read_csv('data/great.csv', skiprows=[3,4])
df

  company     locate   employees   avenue
0  orange   New York       10000     4000
1  banana     London        2000     1000

lambda is also welcomed

In [11]:
df = pd.read_csv('data/great.csv', skiprows=lambda x:x/2==1)
df

  company     locate   employees   avenue
0  orange   New York       10000   4000.0
1    pear     Berlin        3000      NaN

### Filter columns(or keep wanted)

In [20]:
df = pd.read_csv('data/great.csv', usecols=['company'])
df

  company
0  orange
1  banana
2   pinch
3    pear

There are a bunch of other options, refer https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html