In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A#':[1,2,3], 'B#':[4,5,6], 'C#':[7,8,9]})
df

   A#  B#  C#
0   1   4   7
1   2   5   8
2   3   6   9

In [4]:
# Drop column
df.drop(['B#'], axis = 1)

   A#  C#
0   1   7
1   2   8
2   3   9

In [6]:
df.drop(columns=['A#'])

   B#  C#
0   4   7
1   5   8
2   6   9

In [5]:
#Drop rows
df.drop([0,1])

   A#  B#  C#
2   3   6   9